<html>
<head>
  <meta charset="utf8" />
  <title>ThingsApp</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <script type="text/javascript" src="node_modules/ejs/ejs.js"></script>
  
  <h1><%= title %></h1>

  <ul>
    <% for(var i=0; i<obs.length; i++) { %>
        <li>
            <a href='obs/<%= obs[i]._id %>'>
                <%= obs[i].name %> 
            </a>
            <%= obs[i].dob %>
        </li>
    <% } %>
  </ul>

</body>
</html>