<!DOCTYPE html>
<html ng-app="ThingsApp">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>

</head>
<body>
<h1><%= title %></h1>

  <ul>
    <% for(var i=0; i<obs.length; i++) { %>
        <li>
            <a href='obs/<%= obs[i]._id %>'>
                <%= obs[i].name %> 
            </a>
            <%= obs[i].dob %>
        </li>
    <% } %>
  </ul>

  <h1><%= title %> The Angular Way</h1>
  <table class="table" ng-controller="obsCtrl">
    <tr ng-repeat="obj in obs">
      <td>{{obj._id}}</td>
      <td>{{obj.name}}</td>
      <td>{{obj.badge}}</td>
      <td><button ng-click="deleteObs(obj._id)">Delete        </button>
    </tr>
  </table>

<div ng-controller="obsCtrl" >
  <ul>
    <li ng-repeat="obj in obs">      
      {{obj._id}} - {{ obj.name }} - {{obj.badge}}<p> 
      <a href="/obs/{{obj._id}}/edit">Edit</a></p>
      <p><a href="/obs/{{obj._id}}">Show</a></p>
      <form action="/obs/{{obj._id}}/edit" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" value="DELETE" name="_method">
        <button type="submit">Delete
        </button></form>
      </li>
    </ul>
  </div>
  <p>  This is the end!</p>


</body>

</html>
<script>
// Placed inside this file to process ejs-tag
angular.module('ThingsApp', [])
    .constant('obs', <%- JSON.stringify(obs) %>)
    .controller('obsCtrl', function($scope, obs){
    $scope.obs = obs;
    })

</script>
//<script src="/javascripts/controller.js"></script>
